/* body{
    background-color: rgb(128, 132, 247);
} */
.allForm{
    background-color: rgb(3, 247, 255);
    padding: 30px 30px;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    margin-left: 530px;
    margin-top: 140px;
    border-radius: 10px;    
}

.label{
    text-align: left;
    font-size: large;
    margin-left: 50px;
    margin-bottom: 0;
}

.form{
    height: 40px;
    width: 300px;
    border-radius: 5px;
}

.submit{
    margin-left: 35%;
    margin-top: 20px;
    border-radius: 4px;
    width: 100px;
    height: 40px;
}

.allRegister{
    height: 550px;
}