.Title{
    font-weight: 700;
}
.iconTop{
    text-align: right;
}
.iconTop svg{
    cursor: pointer;
    font-size: large;
    margin-right: 20px;
}
.thaotac {
    padding-right: 350px;
    margin-top: 30px;
}
.thaotac button{
    height: 70px;
}